pmt
.vscode/settings.json
build/main
build/main2
build/main-ut*
build/no-uts
build/sotest
build/libsolib.so
build/testproject/solib.cpp.o
build/testproject/solib.hpp.o
build/testproject/sotest.cpp.o
build/testproject/main2.cpp.o

tests/testpr
tests/testpr-ut1
tests/testpr-ut2
tests/__pycache__

build/testproject/main.cpp.o
testproject/main